:root {
    --font-size-small: 10px;
    --font-size-normal: 14px;
    --font-size-medium: 24px;
    --spacing-minimal: 5px;
    --spacing-small: 10px;
    --spacing-medium: 20px;
    --spacing-big: 40px;
    --border-radius-small: 5px;
    --border-radius-medium: 10px;
    --border-radius-big: 20px;
    --transition-color: color 0.25s;
    --transition-background-color: background-color 0.25s;
    --transition-border-color: border-color 0.25s;
    --transition-transform: transform 0.25s;
    --transition-svg: 0.25s;
    --box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
