<header>
    <div class="logo-container">
        <a routerLink="/">CCS</a>
    </div>

    <nav>
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
        <a routerLink="/shop" routerLinkActive="active">Shop</a>
        <a routerLink="/contacts" routerLinkActive="active">Contacts</a>
    </nav>

    <div class="buttons-container">
        <div class="button-container">
            <button [class.active]="isProfileMenuActive" (click)="openProfileMenu()">
                <svg [class.spacing-right-minimal]="username" width="13" height="12" viewBox="0 0 13 12" fill="none">
                    <path 
                        d="M11.8022 11.5L0.522104 11.5C0.638936 10.1816 1.21504 8.93961 2.15841 7.99625C3.22027 6.93438 4.66046 6.33784 6.16216 6.33784C7.66386 6.33784 9.10405 6.93439 10.1659 7.99625C11.1093 8.93961 11.6854 10.1816 11.8022 11.5ZM8.58108 2.91892C8.58108 4.25485 7.4981 5.33784 6.16216 5.33784C4.82623 5.33784 3.74324 4.25485 3.74324 2.91892C3.74324 1.58299 4.82623 0.5 6.16216 0.5C7.49809 0.5 8.58108 1.58299 8.58108 2.91892Z"
                        stroke="white"
                    />
                </svg>
    
                {{ username }}
            </button>

            <app-menu-settings *ngIf="isProfileMenuActive"></app-menu-settings>
        </div>

        <div class="button-container">
            <button [class.active]="isCartMenuActive" (click)="openCartMenu()">
                <svg class="spacing-right-minimal" width="16" height="13" viewBox="0 0 16 13" fill="none">
                    <path 
                        d="M13.7742 9.90323H6.41776C5.96269 9.90323 5.56501 9.59598 5.45014 9.15565L5.24123 8.35484M1 1H3.32258L5.24123 8.35484M3.72651 2.54839C4.00359 2.54839 9.96926 2.54839 13.7175 2.54839C14.3486 2.54839 14.82 3.12571 14.6963 3.7445L13.7742 8.35484H5.24123"
                        stroke="white" stroke-linecap="round"
                    />
                    <circle cx="6.61301" cy="12.0323" r="0.967742" fill="white"/>
                    <circle cx="12.0322" cy="12.0323" r="0.967742" fill="white"/>
                </svg>

                {{ totalPrice | currency }}
            </button>

            <app-menu-cart *ngIf="isCartMenuActive"></app-menu-cart>
        </div>
    </div>

    <div
        *ngIf="isProfileMenuActive || isCartMenuActive"
        class="click-closer"
        (click)="closeMenu()"
    ></div>
</header>
