<a routerLink="/shop/{{ data._id }}">
    <div class="product-image">
        <img [src]="data.image_url ? data.image_url : './assets/images/no_image.svg'" alt="" />
    </div>
</a>

<div class="product-information-container">
    <a routerLink="/shop/{{ data._id }}">
        <div class="product-text">
            <p class="product-title" [title]="data.name">{{ data.name }}</p>
            <p class="product-description">{{ data.description }}</p>
        </div>
    </a>
    
    <div class="button-container">
        <div class="quantity-container">
            <p class="title">Quantity</p>
            <app-quantity (valueChange)="onQuantityChange($event)"></app-quantity>
        </div>

        <div class="price-and-button-container">
            <p class="price-container">
                <ng-container *ngIf="data.original_price">
                    <span class="original">{{ data.original_price | currency }}</span>
                    <span class="discount">{{ data.price | currency }}</span>
                </ng-container>

                <span class="title" *ngIf="!data.original_price">{{ data.price | currency }}</span>
            </p>

            <app-button buttonText="ADD TO CART" [buttonWidthFull]="true" (click)="addToCart()"></app-button>
        </div>
    </div>
</div>
