:host {
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-small);
}

.input-container {
    position: relative;
    
    &.disabled {
        opacity: 0.25;
        pointer-events: none;
    }

    &:focus-within label,
    .small-label {
        top: var(--spacing-minimal);
        left: calc(var(--spacing-medium) / 2);
        font-size: var(--font-size-small);
    }

    &.error {
        label {
            color: var(--error);
        }

        input {
            border-color: var(--error);
        }
    }

    label {
        font-weight: bold;
        position: absolute;
        left: var(--spacing-medium);
        top: 50%;
        transform: translateY(-50%);
        transition: top 0.25s, left 0.25s;
    }
    
    input {
        border: none;
        padding: var(--spacing-small) var(--spacing-medium);
        border-radius: var(--border-radius-medium);
        box-shadow: var(--box-shadow);
        background-color: var(--white);
        width: 100%;
        border-bottom: 2px solid transparent;
    }
}
